# Entorno Virtual
venv/
.venv/
env/

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de Entorno y Logs (Los que ya tienes)
.env
*.env
*.log

# IDEs
.vscode/
.idea/

# Base de datos local
instance/
*.sqlite3

run.py
vercel.json