{% extends "base.html" %}

{% block title %}
Inicio - Mi Aplicación
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<h2>
    <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
</h2>
{% endif %}
{% endwith %}

{% if allproduct %}
    {% for producto in allproduct %}
        <a href="{{ url_for('producto.productoPage', id=producto['id'])}}">{{producto}}</a><br>
    {% endfor %}
{% endif %}


{% endblock %}
