{% extends "base.html" %}

{% block title %}
Inicio - Mi Aplicación
{% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
<h2>
    <ul>
        {% for category, message in messages %}
            <li class="{{ category }}">{{ message }}</li>
        {% endfor %}
    </ul>
</h2>
{% endif %}
{% endwith %}


{% if allproduct %}
        <section id="card_productos" class="container">
            <div class="row mt-3">
                {% for producto in allproduct %}
                <div class="col-md-3 d-flex mb-2">
                    <a href="{{ url_for('producto.productoPage', id=producto['id'])}}" class="card" style="width: 18rem;">
                        <img src="{{ producto['imagenes'][0] if producto['imagenes'] else 'https://via.placeholder.com/400x400' }}" class="card-img-top" alt="Imagen del producto">
                        <div class="card-body">
                            <h4 class="card-text">${{producto['precio']}}</h4>
                            <p class="card-text">{{producto['descripcion']}}</p>
                            <p class="card-text">{{producto['nombre']}}</p>
                        </div>
                    </a>
                </div>
                {% endfor %}
                <div class="col-md-3 d-flex mb-2">
                    <a href="#" class="card" style="width: 18rem;">
                        <img src="hola" class="card-img-top" alt="sin imagen disponible">                        
                        <div class="card-body">
                            <h4 class="card-text">sdafasd</h4>
                            <p class="card-text">dsfsd</p>
                            <p class="card-text">sdfad</p>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 d-flex mb-2">
                    <a href="#" class="card" style="width: 18rem;">
                        <img src="https://via.placeholder.com/400x400" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h4 class="card-text text-truncate">aaaaaaaaaaaaaaaaa</h4>
                            <p class="card-text text-truncate"  >eeeeeeeeeeeeeeee</p>
                            <p class="card-text text-truncate">ssssssssssssssssssssssssssssssssssssssssssss</p>
                        </div>
                    </a>
                </div>
            </div>
        </section>
{% endif %}


{% endblock %}
